<div class='container'>
  <div class='row welcome-home'>
    <div class='welcome col-md-4'>
      <h2>Sign Up</h2>
      <p>Make a profile, find your friends.</p>
      <%= link_to 'Band page', class: 'btn btn-primary' %>
    </div>
    <div class='col-md-4'>
      <h2> Hey</h2>
      <p>Hey</p>
      <%= link_to 'About Us',class: 'btn btn-success' %>
    </div>
    <div class='col-md-4'>
      <h2>Map</h2>  
      <p>Find DIY venues and show spaces</p>
      <%= link_to 'Map', map_path, class: 'btn btn-danger' %>
    </div>
  </div> 
</div> 