/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 */


  
 @import "bootstrap";
 @import "bootstrap-sprockets";
 @import "map";
 @import "jqvmap";
 @import "home";


 

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 200px solid pink;
  border-right: 1400px solid transparent;
  overflow: hidden;
  color: rgba(0, 0, 0, 1);
  font-size: 30px;
}








