body.map {
  background-image: url('http://i.imgur.com/E33WXU3.png');
  position: relative;
}

#map-box {
  margin: auto;
  z-index: 2;
  position: absolute;
  border-radius: 15px;
  top: 240px; 
  left: 0; 
  bottom: 0; 
  right: 0

}
