<script>

function mark() {
  markers = handler.addMarkers([


  <% @spaces.each do |space| %>
    {
      "lat": <%= space.lat %>,
      "lng": <%= space.lng %>,
      "marker": '<span><%= space.name %></span>'
    },
    <% end %>

  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
}


</script>


<div ng-controller="MapController as vm"> 
  <p>{{vm.test}}</p>
  <!-- svg map view -->
  <div id="vmap" style="width: 1000px; height: 667px;"></div>

  <!-- google maps view -->
  <div id="map-box"style='width: 800px; display: none;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>


  <div class="input-group search-bar">
  <input type="text" 
         ng-model="search" 
         ng-change="change()"
         placeholder="Search for show spaces" </input>
</div>
</div>

