<script>

function mark() {
  markers = handler.addMarkers([


  <% @spaces.each do |space| %>
    {
      "latitude": <%= space.latitude %>,
      "longitude": <%= space.longitude %>,
      "marker": '<span><%= space.name %></span>'
    },
    <% end %>

  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
}


</script>


<div ng-controller="MapController as vm"> 
  
  <!-- svg map view -->
  <div id="vmap" style="width: 1000px; height: 667px;"></div>

  <!-- google maps view -->
  <div id="map-box"style='width: 800px; height: 400px; display: none;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>  

<!-- fuzzy show spaces search -->
<div class="container">
  <div class="row">
      <div class="col-xs-6">
        <label>City</label>
        <select class="form-control" ng-model="vm.selectedCity" ng-options="name for name in vm.name"></select>
      </div>
      <div class="col-xs-6">
        <label>Search</label>
        <input type="search" class="form-control" ng-model="vm.search" placeholder="search...">
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="vm.sortBy = 'name'; vm.descending = !vm.descending">Name</th>
          <th ng-click="vm.sortBy = 'address'; vm.descending = !vm.descending">Address</th>
          <th ng-click="vm.sortBy = 'website'; vm.descending = !vm.descending">Website</th>
          <th ng-click="vm.sortBy = 'email'; vm.descending = !vm.descending">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="name in vm.name | filter:{address: vm.address} | filter:vm.search | orderBy:vm.sortBy:vm.descending">
          <td>{{client.name}}</td>
          <td>{{client.address}}</td>
          <td>{{client.website}}</td>
          <td>{{client.email}}</td>
        </tr>
      </tbody>
    </table>
<!--   <div class="input-group search-bar">
  <input type="text" 
         ng-model="search" 
         ng-change="change()"
         placeholder="Search for show spaces" </input> -->
</div>


